body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
}

/* entenda acima!!  */

.btn {
    border: 3px solid #fec630;
    padding: 10px 30px;
    color: #fec630;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}

/* .produtos .call-to-action .btn:hover {
    color: #000;
    border-color: #000;
}

.qualidade .call-to-action .btn:hover {
    color: #000;
    border-color: #000;
} */

/* 2 jeitos possiveis: acima ou abaixo 
acima indica onde ele ta dentro, abaixo cria uma segunda classe, ou seja vai usar as propriedades da primeira classe mas as da segunda vao sobrepor a proimeira em alguma porpriedade especifica*/

.btn-preto:hover {
    color: #000;
    border-color: #000;
}

.header {
    background-color: #fec630;
    padding: 15px 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    /* ou da pra colocar width 100% no lugar do left right 0. Caso contrário, o header sai do 
    meio e fica fixo no canto*/
}

.navbar {
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px
}

.navbar a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.navbar ul li a:hover {
    color: #fff;
}

.navbar .ativo {
    color: white;
}

.introducao {
    width: 100%;
    height: 380px;
    background: url("../assets/5-1-4-introducao-home_arquivos/web/img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
}

.introducao h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
}

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.introducao-interna h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 10px auto;
}

/* porque quando colocava width ele nao consegue mais alinhar com text align?? */
.quote-externo {
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
    content: "";
    display: block;
    width: 60px;
    background-color: #fff;
    height: 3px;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-weight: bold;
    font-style: normal;
    letter-spacing: .1em;
    font-size: 14px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.subtitulo {
    margin-bottom: 40px;
    text-align: center;
}

.subtitulo::after{
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #000;
    margin: 8px auto;   
}

.subtitulo-interno::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #000;
    /* margin: 5px 10px 20px ; */ 
}
.produtos-lista li {
    background-color: #fec630;
    text-align: center;
}

.produtos {
    padding: 60px 0;
}

.produtos-lista_img {
    background-color: #000;
    text-align: center;
    align-items: center;
    padding-left: 15%;
}

.produtos-lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 15px;
}

.produtos-lista li h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #000;
    margin: 8px auto auto;
}

.produtos-lista p {
    padding: 10px 20px 20px 20px;
}

.call-to-action {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call-to-action p {
    margin-bottom: 40px;
}

/* atençãooo coisa nova acima clear both */

.portifolio {
    width: 100%;
    background-color: black;
    padding: 40px 0;
}

.portiflio .subtitulo {
    background-color: #fec630;
}

.portiflio .subtitulo::after {
    background-color: #fec630;
}

.portifolio-lista li:last-child {
    margin-top: 20px;
}

.portifolio .call-to-action p {
    color: #fff;
}

.qualidade {
    text-align: center;
    padding: 60px 0;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../assets/5-1-7-qualidade-home_arquivos/web/img/linhas.svg") no-repeat center;
    position: absolute;
    top: 209px;
    right: 162px;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade-lista {
    padding-top: 40px;
    overflow: auto;
    /* ou hidden  */
}

.qualidade-lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.qualidade-lista li h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #000;
    margin: 6px auto;
}

.quebra {
    width: 100%;
    height: 220px;
    background-image: url(../assets/5-1-8-footer_arquivos/web/img/bg-footer.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

/* pode usar background e colocaar tudo nele já (mas tem suas desvantagens), ou fazer separadinho */

.quebra .quote-externo {
    max-width: 400px;
}

.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding-bottom: 20px;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #fec630;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 25px 0;
}

.footer h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fec630;
    margin: 10px 0 12px 0
}

.footer-historia {
    padding-right: 40px;
}

.footer-contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-redes ul li {
   /* float: left; (da pra fazer com inline block) */
   display: inline-block;
   margin-right: 10px;


}

.footer-redes ul li a {
    display: block;
    border: 3px solid #fec630;
    padding: 10px;
}

.footer-redes ul li a:hover {
  border-color: #fff;
}

.copy {
    width: 100%;
    background-color: #fec630;
    padding: 20px 0;
}