body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    border: 3px solid #fec630;
    padding: 10px 30px;
    color: #fec630;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}
.header {
    background-color: #fec630;
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* ou da pra colocar width 100% no lugar do left right 0. Caso contrário, o header sai do 
    meio e fica fixo no canto*/
}

.navbar {
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px
}

.navbar a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.navbar ul li a:hover {
    color: #fff;
}



.introducao {
    width: 100%;
    height: 380px;
    background: url("../assets/5-1-4-introducao-home_arquivos/web/img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 94.67px;
    text-align: center;
}

.introducao h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
}

/* porque quando colocava width ele nao consegue mais alinhar com text align?? */
.quote-externo {
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px;
}

.quote-externo p {
    font-style: italic; 
}

.quote-externo p::before, .quote-externo p::after {
    content: "";
    display: block;
    width: 60px;
    background-color: #fff;
    height: 3px;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-weight: bold;
    font-style: normal;
    letter-spacing: .1em;
    font-size: 14px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #000;
    margin: 8px auto auto;
}

.produtos-lista li {
    background-color: #fec630;
    text-align: center;
    margin: 50px;
}

.produtos {
    padding: 60px 0;
}

.produtos-lista_img {
    background-color: #000
}